// Rainbow Divider
div.rainbow-divider.rainbow-divider-yellow 
div.rainbow-divider.rainbow-divider-orange 
div.rainbow-divider.rainbow-divider-red 
div.rainbow-divider.rainbow-divider-purple 
div.rainbow-divider.rainbow-divider-blue 
div.rainbow-divider.rainbow-divider-green 
