doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Scott & Kestelle

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Semplicita Adobe Font
        link(href='https://use.typekit.net/vej3ppm.css', rel='stylesheet', type='text/css') 

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top.navbar-solid
            .container
                a.navbar-brand(href='index.html#page-top')
                    img(src='assets/img/navbar-logo.svg', alt='...').rounded
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-lowercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='our-story.html') Our Story
                        li.nav-item
                            a.nav-link(href='location.html').active Location
                        li.nav-item
                            a.nav-link(href='timeline.html') Timeline
                        li.nav-item
                            a.nav-link(href='q+a.html') Q + A
                        li.nav-item
                            a.nav-link(href='rsvp.html') RSVP

        // Timeline
        section#timeline.page-section
            .container.extra-margin
                .text-center
                    h2.section-heading Location
                .row
                    .col
                    .col
                    .col
                .row 
                    .col
                    .col-md-9
                        .row
                            .col-md-4 
                                img.img-fluid.rounded(src='assets/img/location-engagement.jpg', alt="...")
                            .col-12.col-md-8 
                                iframe#map.rounded(src="https://snazzymaps.com/embed/484054")
                    .col
            .container.mt-md-4
                .row
                    .col
                    .col-10.col-md-6
                        p Our wedding will be celebrated on the Chicago River aboard Chicago’s First Lady, a charming and elegant river cruise boat that docks on the Chicago Riverwalk near the Chicago Architecture Center.
                        p The boarding area is easily accessed from the Riverwalk itself on the south bank of the river, just east of the Michigan Avenue bridge. There are stairs down to the Riverwalk at the northeast corner of Michigan Avenue and Wacker Drive that lead directly to the boarding area.
                        p If you park in the Chicago Architecture Center’s attached garage (LAZ Parking Service Garage located at 111 E. Wacker Dr), there is an exit directly to the Riverwalk.
                        p Further information for locating the boarding area is available directly on the #[a(href="https://www.cruisechicago.com/location") Chicago’s First Lady Cruises website].
                        .text-center
                            a.mt-3.button.text-lowercase.btn.btn-xl.btn-primary(href='https://www.cruisechicago.com/location') Chicago's First Lady Location
                    .col

                    //- h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                
        // Footer
        include includes/footer

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        //- script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')