//
// Colors
//

// Override Bootstrap color variables

$yellow: #ffc800;
$magenta: #e5007e;

// Override Bootstrap state colors variables

$primary: $magenta;


// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;

// Rainbow Colors

$rainbow-yellow: #F3C343;
$rainbow-orange: #ED8634;
$rainbow-red: #E73926;
$rainbow-purple: #853164;
$rainbow-blue: #36509D;
$rainbow-green: #143C30;
