//
// Colors
//

// Override Bootstrap color variables

$yellow: #ffc800;
$magenta: #E5007E;

// Override Bootstrap state colors variables

$primary: $magenta;


// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
